body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Coloring*/
.wbdv-red {
  color: red;
}

.wbdv-light-blue {
  color: cornflowerblue;
}

.wbdv-blue {
  color: blue;
}

.wbdv-black {
  color: black;
}

.wbdv-green {
  color: green;
}

.wbdv-white {
  color: white;
}


/*Positioning*/

.wbdv-bottom {
  bottom: 10px;
  width: 100%;
  position: absolute;
}

.wbdv-bottom-right {
  bottom: 25px;
  right: 25px;
  position: fixed;
}

.wbdv-top-right {
  top: 10px;
  right: 15px;
  position: absolute;
}

.wbdv-hidden {
  display: none;
}

.wbdv-show {
  display: block;
}